.center{
    text-align: center !important;
}

.pink{
    color: #ffd4a2 !important;
}

.bgcomplete{
    background:linear-gradient(45deg, #2196F3 30%, #21CBF3 90%)
}

.bgred{
    background-color: #f50057;
}

.bgbutiful{
    background:linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.btn{
    color: black;
}